---
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />

  <main>
    <article>
      <h2>How can I track my order?</h2>
      <p>You can track your order using the following steps</p>
      <ol>
        <li>Go to the Order <Link href="#">Tracking page</Link>.</li>
        <li>Enter your order number and email address.</li>
        <li>
          Click on the Track Order button to view the current status of your
          shipment.
        </li>
      </ol>
      <p>
        If you encounter any issues, please visit our <Link href="#"
          >Help Center</Link
        >.
      </p>
    </article>
    <article>
      <h2>What is your return policy?</h2>
      <p>
        We offer a 30-day return policy on most items. Here are some key points
      </p>
      <ul>
        <li>
          <b>Items must be in original condition:</b>
          Unworn, unused, and unwashed.
        </li>
        <li>
          <b>Include original packaging and tags:</b>
          All items should be returned with their original packaging and tags.
        </li>
        <li>
          <b>Proof of purchase:</b>
          A receipt or proof of purchase is required.
        </li>
      </ul>
      <p>
        For more detailed information, read our full <Link href="#"
          >Return Policy</Link
        >.
      </p>
    </article>
  </main>
</Layout>

<style>
  main {
    padding-block: 2rem;
    padding-left: 2rem;
    max-width: 720px;
    margin-inline: auto;
  }

  article {
    padding-block: 2rem;
  }
  article + article {
    border-top: 1px solid #d2d5da;
  }
  h2,
  p {
    margin-block: 1rem;
  }
</style>
