<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="resources/favicon.ico"
      type="image/x-icon"
      sizes="96x96"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Simple FAQ | devChallenges.io</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <div class="author-info">
      Coded by <a href="#">ab!Zmo</a> | Challenge by
      <a href="https://www.devchallenges.io?ref=challenge" target="_blank"
        >devChallenges.io</a
      >.
    </div>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 100%;
    background-color: #f8fafc;
    color: #030616;
    font-family: "Inter", serif;
    font-size: 1rem;
    line-height: 2;
  }
  .author-info {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }
</style>
